@model IEnumerable<ArtGallery.Models.Artwork>

@{
    ViewData["Title"] = "Desc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br>
    <br>
    <h4 class="text-md-center" style="color:black;font-family:'Playfair Display';font-weight:600;font-size:40px">Our Artists</h4>
    <hr style="height:2px;background-color:black;border-radius:100px;margin-top:0.5vw;">
    <br />
    <div class="row " style="font-family:Raleway;">
        @foreach (var item in Model)
        {

            <div class="col-md-4 ">
                <div class="card shadow-lg p-3 mb-5 bg-white" style="border:none;">
                    <div class="text-center">
                        <img class="card-img-top" src="~/images/Artist/@item.ImageName" style="height:100px;width:100px;" asp-append-version="true" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-md-center" style="font-weight:900;"> @Html.DisplayFor(modelItem => item.ArtistName) , @Html.DisplayFor(modelItem => item.Price)</h5>

                        <p class="card-text" style="font-weight:700;"> @Html.DisplayFor(modelItem => item.ArtworkDesc)</p>
                        <div class="text-center">
                            <a href="@Html.DisplayFor(modelItem => item.ArtistIg)" class="btn" style="background-color:black;border-radius:100px;width:140px;height:40px;color:white;font-weight:600;letter-spacing:1px;"><i class="fa fa-instagram fa-lg" style="color:white;padding-top:8px;padding-right:2px;"></i>  Follow</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<div>


</div>
