
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br>
    <br>
    <h4 class="text-md-center" style="color:black;font-family:'Playfair Display';font-weight:600;font-size:40px">Art Galleries in India</h4>
    <hr style="height:2px;background-color:black;border-radius:100px;margin-top:0.5vw;">
    <br />
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/Academy of fine arts kolkata.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">1. Academy of Fine Arts, Kolkata</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify; ">
                Established in 1933, the Academy of Fine Arts in Kolkata is one of the most significant art
                galleries in India. Various famous paintings by eminent Indian and foreign artists are
                displayed here. Some of the famous paintings include 'Girl with a pitcher' and 'A Winter's
                Evening' by Rabindra Nath Tagore. Works of artists like Jamini Roy, Nandalal Bose,
                M.F.Hussain, etc, are also showcased at the academy.
            </p>
        </div>

    </div>
    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/Govt Art and gallery in Chandigarh.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">2. The Government Museum and Art Gallery, Chandigarh</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                Sculptures are also on display apart from paintings at this prominent museum located in Chandigarh. Started for the public in 1968,
                the museum features different sections for sculpture, architecture and art paintings. The best sections of the museum consist of sections
                for Indian miniature paintings, contemporary art, portraits, etc. Paintings by some of the most illustrious artists
                like Raja Ravi Varma, Amrita Sher-Gil, Jamini Roy, Rabindranath Tagore, Nandalal Bose, Abanindranath Tagore, etc are part of the museum.
            </p>
        </div>

    </div>

    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/chennai-government-museum.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">3. Government Museum, Chennai</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                Also known as the Madras Museum, the Government Museum in Chennai is the second oldest museum and art gallery in India.
                Established in the year 1851, it witnesses a heavy footfall of visitors each year. The National Art Gallery, which forms a
                part of the museum, has paintings of legendary artists like Raja Ravi Varma on display.
                Traditional paintings of Tanjore, Rajput and Mughal era along with paintings of the contemporary period can be found here.
            </p>
        </div>
    </div>

    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/indian-museum-kolkata-.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">4. Indian Museum, Kolkata</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                Established in 1814, the Indian Museum is known for preserving the heritage artworks of India. The museum is divided into six
                sections and the art gallery of the museum is divided into 4 sections which
                feature Mughal Painting Gallery, Bengal Painting Gallery, Decorative Art and Textile Gallery along with South East Asian Gallery.
            </p>
        </div>
    </div>

    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/jahangir.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">5. Jehangir Art Gallery, Mumbai</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                Established in 1952, Jehangir Art Gallery in Mumbai is owned by a private organization and has paintings of almost all famous
                Indian artists from Jamini Roy to Arpita Singh. Artists from India and abroad line up to get their work exhibited at this gallery.
                It is a must visit for art lovers as you will get to see some of the finest art creations of the world at this gallery.
            </p>
        </div>
    </div>

    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/national gallery of modern art bengaluru.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">6. National Gallery of Modern Art, Bangalore</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                One of the newer art galleries in India, the National Gallery of Modern Art was inaugurated in 2009 in Bangalore. Currently,
                the art gallery houses more than 500 paintings from both traditional and modern genres. Paintings on display are works of honourable
                artists like Raja Ravi Varma,
                Amrita Sher-Gil, Jamini Roy, etc. The paintings are sorted and displayed according to time periods, artists and school of art.
            </p>
        </div>
    </div>

    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/nationl modern art delhi.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">7. National Gallery of Modern Art, New Delhi</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                National Gallery of Modern Art in Delhi is an initiative by the government of India. Established in 1954, the
                gallery features a collection of over 14,000 paintings by artists from India and abroad. Paintings
                in this wide assortment include works of Raja Ravi Varma, Tagore brothers, Jamini Roy etc. It is one of the finest Art Galleries in India.
            </p>
        </div>
    </div>

    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/national-museum-of-india-delhi.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">8. National Museum, New Delhi</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                The National Museum in New Delhi has been operating since 1949 and is unbeatable when it comes to the collection of art paintings.
                The art gallery here features the biggest collection of miniature paintings in the country. Paintings by modern artists along with Mughal,
                Deccan, Rajasthan, Sikh and Kashmiri artists are showcased here. The artworks here range from the time periods of 10th to 20th century.
            </p>
        </div>
    </div>


    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/kolkatamemorial.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">9. Victoria Memorial, Kolkata</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                Victoria Memorial was launched for the public in the year 1921. The gallery sports different sections for Indian and foreign paintings,
                Calcutta Gallery, Royal Gallery, Indian paintings, miniatures, etc, being some of those. The Royal Gallery is dedicated to paintings of
                Queen Victoria. The collection of
                western paintings includes paintings from the likes of Charles D'oyly, Johann Zoffany, William Hadges, William Simpson, etc.
            </p>
        </div>
    </div>


    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/akriti art gallery.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">10. Aakriti Art Gallery</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                Aakriti Art gallery has evolved as one of the prominent modern Art Galleries in India. The gallery operates from two centres,
                one in Kolkata and one in New Delhi. Traditional paintings, sculptures, printmaking, video art and installations are on display here.
                Art lovers have the option to buy modern and contemporary art paintings from an online art shop too.
                The gallery has reinforced the Gen-next exhibitions which deliver modern art and reaches to the young crowd of India.
            </p>
        </div>
    </div>

    <br><br>
    <div class="row">

        <div class="col-md-5">
            <img src="~/Images/Gallery/Darpan art gallery pune.jpg" style="width: 100%; height: auto;">
        </div>

        <div class="col-md-7">
            <h3 style="font-family:Raleway; font-weight:800;letter-spacing:0.4px;">11. Darpan Art Gallery, Pune</h3>
            <br>
            <p style="font-family:Raleway; font-weight:600;font-size:16px;letter-spacing:0.4px;text-align:justify;">
                The beauty of this decade-old art gallery is its soothing yet highly artistic ambiance. It is located on the Kalacchaya Campus of Gokhale Nagar. 
                The most unique trait about this art gallery is its ideology of promoting young artists. Furthermore, not shying away from showcasing their 
                piece of work in the renowned Darpan Art Gallery. 
                In the form of paintings, sketches or sculptures. The focal point of the interiors of Darpan Art Gallery is nothing but art.
            </p>
        </div>
    </div>
<br>
    <br>
</div>

