
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <!------slide 1-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a asp-area="" asp-controller="Home" asp-action="Shop">
                <img class="d-block w-100" src="~/Images/Slider/First.png" alt="First slide">
            </a>          
        </div>
        <!------slide 2-->
        <div class="carousel-item">
            <a asp-area="" asp-controller="Home" asp-action="Shop">
                <img class="d-block w-100" src="~/Images/Slider/Group 16.png" alt="Second slide">
            </a>
        </div>
        <!----slide 3-->
        <div class="carousel-item">
            <a asp-area="" asp-controller="Home" asp-action="Shop">
                <img class="d-block w-100" src="~/Images/Slider/Group 18 (7).png" alt="Third slide">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width:4%;opacity:1;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width:4%;opacity:1;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
