@{
    ViewData["Title"] = "Refund Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .p1 {
        line-height: 1.8;
        letter-spacing: 0.5px
    }
</style>
<body class="user">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NS2X6F" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>	<header id="header">
        <div id="container">
            <div class="container">
                <div class="row">
                    <div class="col-ms-12">
                        <article>
                            <h2 style="font-weight:bold">Refund policy</h2>
                            <hr />
                            <p class="p1">We're so convinced you'll absolutely love our products, that we're willing to offer a 7 day risk-free money back guarantee. If you are not satisfied with the product for any reason you can get a refund within 7 days of making a purchase.</p>
                            <h3 style="font-weight:bold">Contacting us</h3>
                            <p class="p1">If you have any questions about our refund policy, please contact us at <a href="mailto:agofficial@gmail.com">here</a></p>
                            <p class="p1">This document was last updated on May 23, 2021</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>

</body>
