
@{
    ViewData["Title"] = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    .p1 {
        line-height: 1.8;
        letter-spacing: 0.5px
    }

</style>
<div style="text-space-collapse:inherit">
<h2 class="font-weight-bold">Shipping Policy</h2>
<hr />

<p class="p1">Thankyou for visiting and shopping at our <strong>ArtGallery</strong>. Following is our Shipping Policy</p>
<br />
<h2 style="font-weight:bold">Shipment processing time</h2>
<br />
<p class="p1">All orders are processed within 2-3 business days. Orders are not shipped or delivered on weekends or holidays.</p>
<br />
<p class="p1">
    If we are experiencing a high volume of orders, shipments may be delayed by a few days. Please allow additional days in transit for delivery. If there will be a significant delay in shipment of your order, we will contact you via email or telephone.
</p>
<br />
<h2 style="font-weight:bold">Shipping rates & delivery estimates</h2>
<br />
<p class="p1">Shipping charges for your order will be calculated and displayed at checkout.</p>
<br />
<table>
    <tr>
        <th>Shipment Method</th>
        <th>Estimated Delivery Time</th>
        <th>Shipment Cost</th>
    </tr>
    <tr>
        <td>FedEx Standard</td>
        <td>3-5 business days</td>
        <td>Free</td>
    </tr>
    <tr>
        <td>FedEx Two Days </td>
        <td>2 business days</td>
        <td>$12.95 </td>
    </tr>
    <tr>
        <td>FedEx Oversight*</td>
        <td>1-2 business days</td>
        <td>$19.95</td>
    </tr>
</table>
<br/>
<p class="p1">*Overnight delivery is only available for orders with delivery addresses within the continental United States.</p>
<br/>
<p class="p1">Delivery delays can occasionally occur. Update this section based on carriers you support. </p>
</div>