@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
<style>
    .login {
        background-color:black;
    }

    /*for tab control*/
    div.login-logout-tab div.card-header {
        padding: 0px 0px 12px 0px;
    }

    div.login-logout-tab ul.nav-tabs {
        margin: 0px 0px -12px 0px;
    }

    div.login-logout-tab li.nav-item {
        width: 50%;
    }

    div.login-logout-tab a.nav-link {
        font-size: 25px;
        color: #495057;
        text-align: center;
    }

    div.card-content {
        padding: 10px 20px;
    }

    /*login form*/
    div.login-form-icon {
        text-align: center;
    }
</style>
<div class="login">
    <div class="col-md-10 offset-1">
        <div class="login-form-icon">
            <i class="fas fa-user-circle fa-9x text-secondary"></i>
        </div>
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
              <div class="form-group">
                    <div class="input-group ">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                             <input asp-for="Input.Email" class="form-control" placeholder="Email Address" />
                        </div>
                   
              
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
               
             <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" style="color:white">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
                <br />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}