@model ArtGallery.Models.Artist

@{
    ViewData["Title"] = "Create";
}

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArtistName" class="control-label"></label>
                <input asp-for="ArtistName" class="form-control" />
                <span asp-validation-for="ArtistName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistDesc" class="control-label"></label>
                <input asp-for="ArtistDesc" class="form-control" />
                <span asp-validation-for="ArtistDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistCity" class="control-label"></label>
                <input asp-for="ArtistCity" class="form-control" />
                <span asp-validation-for="ArtistCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistIg" class="control-label"></label>
                <input asp-for="ArtistIg" class="form-control" />
                <span asp-validation-for="ArtistIg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistPicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ArtistPicture" accept="image/*" class="custom-file-input" id="customFile" name="upload">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="ArtistPicture" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


